* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
}

#sacrificed {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#sacrificed img {
    height: 200px;
}

footer {
    text-align: center;
}